<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="RS_logo.ico" />
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
 <!-- <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">-->

  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <style type="text/css">
    .right{
      float: right;
      width: 200px;
      height: 500px;
    }

    #projList br{
      display: none;
    }

  </style>
  <title>Ryan Sproule</title>
</head>

<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>

      <!--           <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1> -->
      <!--           <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->

      {% if site.show_downloads %}
      <section id="downloads">
        <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
        <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
      </section>
      {% endif %}
    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
     <img class="right" src="../rfsProf.jpg" alt="Profile" style="width: 20%; height: 20%;">
     {{ content }}
     <p>Washington University in St. Louis 2019</p>
     <p>B.S. Computer Science 2019</p>
     <a href="../RyanSprouleResume2017.pdf">My Resume</a>

     <h2>Who am I?</h2>

     <p>I am a sophemore at Washington University in St. Louis studying Computer Science. I only started coding a year ago but my interest in it has motivated me to learn very much since then. My passion for computers came from when I was young and whenever anything was wrong with the family computer, I was always eager to be the repair-man. I enjoy learning new information on my own and have built several projects from scratch. I hope to pursue software development in the future as both a career and a hobby. I am actively looking to get my first Software Engineering job/internship this summer so that I can gain experience that will allow me to improve and learn as much as I can.</p>

     <h2>Life</h2>
     <p>I grew up in the suburbs of Pittsburgh and have been a huge Steeler/Penguins/Pirates fan for as long as I can remember. I went to Pittsburgh Central Catholic High School where I played Baseball, Basketball and Soccer. I graduated in 2015 and was recruited to come to Wash U to play on the soccer team. I decided in the summer after my freshman year at Wash U that I would study Computer Science because I loved the feeling of solving a tough coding problem and was anxious to be on the cutting edge of technology.</p>

     <h2>Technical Skills</h2>
     <ul>
      <h3>Skilled:</h3>
      <li>Java</li>
      <li>Arduino C</li>
      <li>HTML + CSS</li>
      <li>PHP</li>
      <li>mySQL</li>
      <li>Javascript</li>
      
      <h3>Basic Knowledge:</h3>
      <li>Python</li>
      <li>Swift</li>
      <li>jQuery</li>
      <li>Amazon Web Services</li>
      <li>LINUX</li>
    </ul>

    <h2>Projects</h2>
     <ul id="projList">
          <li><a href="http://52.14.73.38/~rsproule/module5/calendar/mainCalendar.html">Javascript Calendar</a></li>
          <li><a href="http://52.14.73.38/~rsproule/module3/mainNews.php">PHP News Share Site</a> </li>
     </ul>

    <!-- <h2>Interests</h2> 
    <ul>
      <li>Music</li>
    </ul> -->

  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    {% if site.github.is_project_page %}
    <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
    <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
  </footer>
</div>

{% if site.google_analytics %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}




</body>
</html>

